{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "printWidth": 80,
  "tabWidth": 2,
  "plugins": ["@shufo/prettier-plugin-blade"]
}
