@font-face {
  font-family: 'Lexend-SemiBold';
  src: url('@/src/fonts/Lexend-SemiBold.ttf');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .font-bold,
  .font-semibold {
    font-weight: 500;
  }
}
@layer utilities {
  @supports (font: -apple-system-body) or (-webkit-touch-callout: none) {
    .font-bold,
    .font-semibold {
      font-weight: 500;
    }
  }
}
